.DS_Store
.idea
dist/
generated/
logs/
node_modules/

*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/*
!.vscode/extensions.json
