/**
 * COMPONENT STYLES
**/

section#hero {
  background-color: var(--accent-1);
  width: 100%;
  height: 100vh;
  padding-top: var(--header-height);
  color: var(--font-color-light);
}


section#hero video {
  position: absolute;
  top: 0;
  object-fit: cover;
  filter: brightness( 75% );
  width: 100%;
  height: 100vh;
}


section#hero article {
  position: absolute;
  z-index: 5;
  bottom: 20px;
  width: 33%;
  padding-left: 20px;
}


section#hero h1 {
  margin-bottom: 20px;
  font-weight: 100;
  text-align: left;
}


section#hero button {
  padding: 20px 60px;
}


section#hero button > small {
  font-weight: normal;
  font-size: .5em;
}


/**
 * MOBILE STYLES
 *
 * @note: cannot use css variables as media query values :(
**/

@media only screen and (max-width: 1024px) {
  section#hero {
    flex-direction: column;
    min-height: 100vh;
    height: auto;
  }

  section#hero article {
    width: 100%;
    padding-right: 20px;
  }
}
