---
import "@fontsource-variable/montserrat";
import "@fontsource-variable/jetbrains-mono";
import "~/styles/index.css";
import Header from "~/components/header.astro";
import Splash from "~/components/splash.astro";
import Download from "~/components/download.astro";
import HowItWorks from "~/components/how-it-works.astro";
import Features from "~/components/features.astro";
import Changelog from "~/components/changelog.astro";
import Footer from "~/components/footer.astro";

// set the description metadata
const DESCRIPTION = "LIGA Esports Manager";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <title>{DESCRIPTION}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={DESCRIPTION} />
    <link
      rel="icon"
      type="image/svg+xml"
      href=`${import.meta.env.BASE_URL}/favicon.svg`
    />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <div class="space-y-24 px-8 py-32">
      <Download />
      <HowItWorks />
      <Features />
      <Changelog />
    </div>
    <Footer />
  </body>
</html>
