/**
 * VARIABLES
**/

:root {
  --header-height: 100px;
  --header-height-small: calc(var(--header-height) - 25px);
}


/**
 * COMPONENT STYLES
**/

header {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: var(--accent-1);
  width: 100%;
  height: var(--header-height);
  transition: all .2s ease;
  color: var(--font-color-light);
}


header.small {
  height: var(--header-height-small);
}


header img {
  padding: 5px;
}


header ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


header li {
  min-width: 150px;
  height: 100%;
  border-bottom: 5px solid transparent;
}


header li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: inherit;
  text-decoration: none;
}


header li.active {
  color: var(--links-color);
  border-bottom-color: var(--links-color);
}


header div.hamburger-react {
  display: none;
}


/**
 * MOBILE STYLES
 *
 * @note: cannot use css variables as media query values :(
**/

@media only screen and (max-width: 1024px) {
  header ul {
    display: none;
  }


  header ul.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    background-color: var(--accent-1);
    height: 100vh;
  }


  header li, header li.active {
    border-bottom-color: var(--accent-2);
    border-bottom-width: 1px;
  }


  header div.hamburger-react {
    display: block;
    align-self: center;
    margin-right: 5px;
  }
}
