/**
 * COMPONENT STYLES
**/

.billboard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--foreground-color);
  min-height: 75vh;
  padding: 60px 0;
}


.billboard:nth-child(even) {
  background-color: var(--background-color);
}


.billboard article {
  width: 45%;
}


.billboard article.info {
  padding: 0 10%;
}


.billboard article.info > p {
  text-align: justify;
}


.billboard article.full {
  width: 60%;
}


.billboard img, .billboard video {
  width: 100%;
  height: auto;
}


/**
 * MOBILE STYLES
 *
 * @note: cannot use css variables as media query values :(
**/

@media only screen and (max-width: 1024px) {
  .billboard {
    flex-direction: column;
  }


  .billboard article, .billboard article.full {
    width: 100%;
    padding: 0 20px;
  }


  .billboard article + article {
    margin-top: 20px;
  }
}
