.billboard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--foreground-color);
  min-height: 75vh;
  padding: 60px 0;
}


.billboard:nth-child(even) {
  background-color: var(--background-color);
}


.billboard article {
  width: 40%;
}


.billboard article.info {
  padding: 0 10%;
}


.billboard article.info > p {
  text-align: justify;
}


.billboard article.full {
  width: 60%;
}


.billboard img {
  width: 100%;
  height: auto;
}
