---
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon";
---

<ContentSection title="Download" id="download">
  <Icon slot="eyebrow" name="logo" class="h-32" />
  <Fragment slot="lead">
    The
    <span class="text-primary">world's first esports simulator</span>
     that let's you play your matches
    <span class="text-primary">inside CS:GO</span>.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="#how-it-works"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>How does it work?</span>
    </a>
    <a
      role="button"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Loading...</span>
    </a>
  </div>
  <div
    class="flex max-w-xl flex-col items-center gap-4 rounded-2xl bg-yellow-500 p-4 md:flex-row"
  >
    <Icon pack="mdi" name="alert-circle-outline" class="basis-1/8 w-8" />
    <article class="flex flex-col gap-4 text-sm">
      <p>
        The app doesn't have a code-signing certificate yet so you might see a
        warning when downloading or installing the app.
      </p>
      <p>
        To install, click on <code>More Info</code> and <code
          >Install Anyway</code
        >.
      </p>
    </article>
  </div>
</ContentSection>

<script>
  import invariant from "tiny-invariant";
  import { GitHubAPI } from "~/scripts/github";

  const downloadElem = document.querySelector('a[role="button"]');
  const labelElem = downloadElem?.querySelector("span");

  invariant(downloadElem, "download element should not be null");
  invariant(labelElem, "label element should not be null");

  (async () => {
    const releaseInfo = await GitHubAPI.releases("lemonpole/liga-public");
    const downloadURL = GitHubAPI.getDownloadLink(releaseInfo?.assets || []);
    const versionInfo = releaseInfo?.name || "Loading...";

    labelElem.innerHTML = `Download ${versionInfo}`;
    downloadElem.addEventListener("click", () => window.open(downloadURL));
  })();
</script>
