---
import ContentSection from "~/components/content-section.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const collection = await getCollection("features");
const items = await Promise.all(
  collection.map(async (item) => ({
    ...item,
    Content: (await item.render()).Content,
  })),
);
---

<ContentSection title="Features" id="features">
  <div class="grid max-w-6xl grid-cols-1 gap-32">
    {
      items.map((item) => (
        <div class="flex flex-col place-items-center gap-16 sm:flex-row sm:odd:flex-row-reverse">
          <div class="relative sm:w-1/2">
            <span
              class="gradient-bg absolute -inset-1 block w-full origin-[50%_50%] rotate-3 rounded-2xl"
              aria-hidden="true"
            />
            <Image
              class="relative w-full rounded-xl object-cover"
              src={item.data.image}
              loading="eager"
              alt="@todo"
            />
          </div>
          <div class="space-y-8 sm:w-1/2">
            <p class="font-extrabold text-xl">{item.data.title}</p>
            <article class="space-y-4">
              <item.Content />
            </article>
          </div>
        </div>
      ))
    }
  </div>
</ContentSection>
