@tailwind base;
@tailwind components;
@tailwind utilities;

/** global styles */
html,
body {
  @apply h-full;
}

html {
  @apply cursor-default bg-base-100 motion-safe:scroll-smooth;
  font-family: "JetBrains Mono Variable", Courier, monospace;
}

h1,
h2,
h3,
code {
  font-family: "Montserrat Variable", Helvetica, sans-serif;
}

img,
video {
  @apply drop-shadow;
}

button,
code {
  @apply !rounded-none;
}

/** adds a hash to anchor elements */
a:is([id], [title]) {
  @apply before:text-muted no-underline before:content-["#_"] hover:underline hover:before:text-base-content;
}

/** the main container */
main {
  @apply px-8 py-16 md:col-span-3;
}

/** utilities */
@layer utilities {
  .center {
    &:has(:only-child) {
      @apply grid grid-cols-1 place-items-center;
    }

    &:not(:only-child) {
      @apply flex flex-col items-center justify-center;
    }
  }

  .stack-x {
    @apply flex;
  }

  .stack-y {
    @apply flex flex-col;
  }

  .text-muted {
    @apply text-base-content/40 dark:text-base-content/20;
  }
}
